PROFIT_ARBITRAGE_LOGIN=your-email@example.com
PROFIT_ARBITRAGE_PASSWORD=your-password
PROFIT_ARBITRAGE_FID=profitarbitrage
PROFIT_ARBITRAGE_BUY_EXCHANGES=binance,bybit,okex,gate,mexc,kucoin,bitget,bingx,huobi
PROFIT_ARBITRAGE_SELL_EXCHANGES=binance,bybit,okex,gate,mexc,kucoin,bitget,bingx,huobi
